
    @font-face {
        font-family: 'Gordita Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Regular'), url('../fonts/Gordita Regular.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Regular Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Regular Italic'), url('../fonts/Gordita Regular Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Thin';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Thin'), url('../fonts/Gordita Thin.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Thin Italic'), url('../fonts/Gordita Thin Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Light';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Light'), url('../fonts/Gordita Light.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Light Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Light Italic'), url('../fonts/Gordita Light Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Medium'), url('../fonts/Gordita Medium.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Medium Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Medium Italic'), url('../fonts/Gordita Medium Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Bold'), url('../fonts/Gordita Bold.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Bold Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Bold Italic'), url('../fonts/Gordita Bold Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Black';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Black'), url('../fonts/Gordita Black.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Black Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Black Italic'), url('../fonts/Gordita Black Italic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Ultra';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Ultra'), url('../fonts/Gordita Ultra.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Gordita Ultra Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Ultra Italic'), url('../fonts/Gordita Ultra Italic.woff') format('woff');
        }


    @font-face {
        font-family: 'Manrope Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Regular'), url('../fonts/manrope-regular.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Manrope Thin';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Thin'), url('../fonts/manrope-thin.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Manrope Light';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Light'), url('../fonts/manrope-light.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Manrope Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Medium'), url('../fonts/manrope-medium.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Manrope Semibold';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Semibold'), url('../fonts/manrope-semibold.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Manrope Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Manrope Bold'), url('../fonts/manrope-bold.woff') format('woff');
        }