.c-company-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    @include Media($x-small-screen-width){
        width: 50%;
     }
    > div {
        width: 91px;
        height: 91px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $grey;

        img {
            width: 27px;
        }

       
    }
    h5{
        font-size: 24px;
        font-family: 'Manrope Bold';
        font-weight: bold;
    }
}